%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark

  %a.navbar-brand{href: "#"}= t('overall.name')

  %button.navbar-toggler{'aria-controls':  'navbarMainMenuContent',
                          'aria-expanded': false,
                          'data-target':   '#navbarMainMenuContent',
                          'data-toggle':   'collapse',
                          'aria-label':    'Toggle navigation',
                          type:            'button'}
    %span.navbar-toggler-icon

  #navbarMainMenuContent.collapse.navbar-collapse

    %ul.navbar-nav.mr-auto
      %li.nav-item= link_to t('views.header.links.home'),      root_path,  class: 'nav-link'
      %li.nav-item= link_to t('views.header.links.dashboard'), admin_path, class: 'nav-link'

      - if can?(:index, User)
        %li.nav-item= link_to t('views.header.links.users'), admin_users_path, class: 'nav-link'

    %ul.navbar-nav.ml-auto
      = render partial: '_shared/header_language_switch_item'
