!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}

    %meta{name: 'viewport',                 content: 'width=device-width, initial-scale=1'}
    %meta{name: 'turbolinks-cache-control', content: 'no-cache'}

    %title= t('overall.name')

    = csrf_meta_tags
    = stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = Gon::Base.render_data
    = render(partial: '_shared/header')
    .container
      = render(partial: '_shared/flash_messages')
      = yield
